* {
    padding: 0;
    margin: 0;
    font-family: "Oswald", sans-serif;;
}
.navbar-brand {
    padding: 1rem;
    display: flex;
    justify-content: center;
    background-color: black;
}
.navbar-brand img {
    width: 8rem;
    height: 8rem;
}
header{
    background-image: url(../img/PELOTA30.jpg);
    background-attachment: fixed;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
    display: flex;
    justify-content: center;
    padding: 2px;
    margin: 5px;
    height: 35rem;
    align-items: center;
    font-weight: bolder;
    font-style: italic;
    font-size: 48px;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-size: 26px;
    font-style: none;
    color: black;
    margin-bottom: 2rem;
}

.bienvenida{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titPrimario{
    font-size: 32px;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}
.adquiri{
    align-items: center;
    margin-bottom: 2rem;
}
.adquiri h3{
    font-size: 25px;
    align-self: center;
    margin-bottom: 1.5rem;
}
.entradasLista{
    font-size: 18px;
}
.form {
    display: flex;
    justify-content: center;
    border: 4px solid green;
    margin: 1rem;
}
.form-floating {
    font-size: 17px;
    height: add(3.5rem);
    line-height: 1;
    padding: 1rem;
    transition: opacity .1s ease-in-out, transform .1s ease-in-out;
}

input {
    padding-top: .625rem;
    padding-bottom: 0.625rem;
}
div label:hover {
    opacity: 0.65;
    transform: scale(.85) translateY(-.5rem) translateX(.15rem);
}
.boton{
    display: flex;
    align-self:  center;
    justify-content: center;
    height: 1.5rem;
    width: 3rem;
    margin:1rem;
}
.form-control{
    padding: 0.5rem;
    margin: 1rem;
}
.cliente {
    padding: 3rem;
    color:rgb(173, 13, 13);
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

